/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
} */

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */


/* BYUH Brand Colors - Red Primary */
:root {
  --ifm-color-primary: #ba0c2f;
  --ifm-color-primary-dark: #a70b2a;
  --ifm-color-primary-darker: #9e0a27;
  --ifm-color-primary-darkest: #820821;
  --ifm-color-primary-light: #cd0d34;
  --ifm-color-primary-lighter: #d60e37;
  --ifm-color-primary-lightest: #e4223f;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(186, 12, 47, 0.1);


  /*Custom Colors, present regardless of light/dark mode*/
  --copy-paste-color: #ff51ff;
  --green-checkmark: #41ce41;
  --changable-value: #ff7300;
  --byuh-gray: #f0f1f2;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* Using white/light gray in dark mode for softer look */
[data-theme='dark'] {
  --ifm-color-primary: #f5f5f5;
  --ifm-color-primary-dark: #e6e6e6;
  --ifm-color-primary-darker: #d9d9d9;
  --ifm-color-primary-darkest: #b3b3b3;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);


  /*Custom Colors, present regardless of light/dark mode*/
  --copy-paste-color: #fc90fc;
  --byuh-gray: #c1c6c8;

}